@model List<CrudTestMVC.Models.Users>

<h2>User List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>name</th>
            <th>age</th>
            <th>salary</th>
            <th>depart</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.name</td>
                <td>@user.age</td>
                <td>@user.salary</td>
                <td>@user.depart</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
